{{!-- search area --}}
<div class="well">
  <div class="row champ-search-area">
    <div class="col-md-8">
      <div class="title">Champion List</div>
      <p>Select a champion to view information on how to counter them.</p>
      <div class="search">
        <input id="champ-filter" type="text" placeholder="Search Champion" autocomplete="off" autofocus>
        <div class="glass">
          <a href="#">
            <i class="fa fa-search"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      {{!-- goodbye --}}
    </div>
  </div>
</div>