<nav class="navbar navbar-default navbar-static-top">
  <div class="fluid-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="site-logo" src="/images/logo.png" alt="LeagueFrenzy">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-streamers" href="/streamers">Streamers</a></li>
        <li><a class="nav-champions" href="/champions">Champions</a></li>
        <li><a class="nav-summoners" href="/summoners">Summoners</a></li>
      </ul>
    </div>
  </div>
</nav>