

<ul id="socialbar">
  <li class="social fb"><a href="#"><span>Facebook</span><i class="fa fa-facebook"></i></a></li>
  <li class="social tw"><a href="#"><span>Twitter</span><i class="fa fa-twitter"></i></a></li>
  <li class="social rd"><a href="#"><span>Reddit</span><i class="fa fa-reddit"></i></a></li>
  <li class="social gp"><a href="#"><span>Google+</span><i class="fa fa-google-plus"></i></a></li>
</ul>