

<ul id="socialbar">
  <li class="social"><a href="#"><span>Facebook</span><i class="fa fa-facebook"></i></a></li>
  <li class="social"><a href="#"><span>Twitter</span><i class="fa fa-facebook"></i></a></li>
  <li class="social"><a href="#"><span>Reddit</span><i class="fa fa-facebook"></i></a></li>
  <li class="social"><a href="#"><span>Google+</span><i class="fa fa-facebook"></i></a></li>
</ul>