<div class="streamers">
  <div class="well">
    <h3>Popular Streams</h3>

    <div class="stream-header clearfix">
      <div class="htitle">stream</div>
      <div class="hviews">views</div>
    </div>

    <a href="#" class="stream">
      <div class="stream-block clearfix">
        <div class="title">Matts cool stream yoyoyo Lorem ipsum dolor sit amet.</div>
        <div class="views">20210</div>
      </div>
    </a>

    <a href="#" class="stream">
      <div class="stream-block clearfix">
        <div class="title">Matts cool stream yoyoyo</div>
        <div class="views">20210</div>
      </div>
    </a>

    <a href="#" class="stream">
      <div class="stream-block clearfix">
        <div class="title">Matts cool stream yoyoyo</div>
        <div class="views">20210</div>
      </div>
    </a>

    <a href="#" class="stream">
      <div class="stream-block clearfix">
        <div class="title">Matts cool stream yoyoyo</div>
        <div class="views">20210</div>
      </div>
    </a>

    <a href="#" class="stream">
      <div class="stream-block clearfix">
        <div class="title">Matts cool stream yoyoyo</div>
        <div class="views">20210</div>
      </div>
    </a>

    <button class="btn btn-xs btn-success more-streamers">more</button>
  </div>
</div>