<div class="streamers">
  <div class="well">
    <h3>Popular Streams</h3>

    <div class="stream-header clearfix">
      <div class="htitle">stream</div>
      <div class="hviews">views</div>
    </div>

    {{!-- <i class="fa fa-circle-o-notch fa-spin spinner" style="font-size: 2em; margin: 0 auto; color: #777;"></i> --}}

    {{!-- stream appended here --}}


  </div>
</div>