
<div class="well">
  <div class="row summoner-search-area">
    <div class="col-md-8">
      <div class="title">Summoner List</div>
      <p>Enter a summoners name to view their stats</p>
      <div class="search">
        <form action="#" id="summoner-form">
          <input id="summoner-filter" type="text" placeholder="Summoner name..." autocomplete="off" autofocus>
          <div class="glass">
            <a href="#">
              <i class="fa fa-search"></i>
            </a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      {{!-- goodbye --}}
    </div>
  </div>
</div>