<div class="worlds">
  <div class="well">
    {{!-- <h3>2015 Worlds Standings</h3> --}}

    <div class="tabs clearfix">
      <a href="#" class="group-stg active" data-tab="groups">
        <i class="fa fa-chevron-left"></i>
        <span>Group stage</span>
      </a>
      <a href="#" class="knockout-stg" data-tab="knockouts">
        <span>Knockout stage</span>
        <i class="fa fa-chevron-right"></i>
      </a>
    </div>

    <div class="groups stage">
      {{!-- content appended here --}}
    </div>

    <div class="knockouts stage">
      {{!-- content appended here --}}

      <div class="quarter-finals final">

        <h3>Quarter Finals</h3>

        <div class="row">

          <div class="col-lg-3 col-sm-6 col-xs-6">
            <div class="match">
              <div class="team">
                <div class="icon">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="name">Koo Tigers</div>
              </div>
              <div class="versus">VS</div>
              <div class="team">
                <div class="icon">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="name">Fnatic</div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-6">
            <div class="match">
              <div class="team">
                <div class="icon">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="name">Koo Tigers</div>
              </div>
              <div class="versus">VS</div>
              <div class="team">
                <div class="icon">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="name">Fnatic</div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-6">
            <div class="match">
              <div class="team">
                <div class="icon">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="name">Koo Tigers</div>
              </div>
              <div class="versus">VS</div>
              <div class="team">
                <div class="icon">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="name">Fnatic</div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-6">
            <div class="match">
              <div class="team">
                <div class="icon">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="name">Koo Tigers</div>
              </div>
              <div class="versus">VS</div>
              <div class="team">
                <div class="icon">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="name">Fnatic</div>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="semi-finals final">
        <h3>Semi Finals</h3>
        <div class="row">

          <div class="col-lg-3"></div>

          <div class="col-lg-3 col-sm-6 col-xs-6">
            <div class="match">
              <div class="team">
                <div class="icon">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="name">Koo Tigers</div>
              </div>
              <div class="versus">VS</div>
              <div class="team">
                <div class="icon">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="name">Fnatic</div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-6">
            <div class="match">
              <div class="team">
                <div class="icon">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="name">Koo Tigers</div>
              </div>
              <div class="versus">VS</div>
              <div class="team">
                <div class="icon">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="name">Fnatic</div>
              </div>
            </div>
          </div>

          <div class="col-lg-3"></div>

        </div>
      </div>

      <div class="grand-finals final">

        <h3>Grand Final</h3>

        <div class="row">

          <div class="col-lg-3 col-lg-offset-5">
            <div class="match">
              <div class="team">
                <div class="icon">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="name">Koo Tigers</div>
              </div>
              <div class="versus">VS</div>
              <div class="team">
                <div class="icon">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="name">Fnatic</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>