



<div id="summoners-page">
  <div class="fluid-container">

    {{> summoner_search_area}}

    {{!-- eventually create the callback that will show this while the
    callback function is running --}}
    <div class="spinner-container well">
      <i class="fa fa-circle-o-notch fa-spin spinner" style="font-size: 2em; position: relative; left: 50%; color: #2F3F4F;"></i>
    </div>

    <div class="summoner-list-area">

      <div class="meta well">
        <div class="general clearfix">
          <img src="//ddragon.leagueoflegends.com/cdn/5.18.1/img/profileicon/588.png">
          <h2>Yolomcbrolo</h2>
        </div>

        <div class="ranked-stats row">

          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="league-stats">
              Silver <span>V</span> |
              <span>90LP</span>
            </div>
            <div class="league-name">Viktor's Somethings</div>
          </div>

          <div class="col-md-2 col-sm-12 col-xs-12 special">
            <span><i class="fa fa-fire"></i></span>
            <span><i class="fa fa-star"></i></span>
          </div>

          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="wl"><span>wins</span> 7</div>
            <div class="wl"><span>loses</span> 4</div>
          </div>

        </div>
      </div>

      <div class="ranked-champs">
        <div class="heading row">
          <div class="col-md-6">
            <h2>
              ranked champs
            </h2>
            <input type="text" id="ranked-champ-filter" placeholder="Enter name...">
          </div>
        </div>
        <div class="champ-list row">

          <div class="col-md-10">
            <div class="ranked-champ">
              <img src="//ddragon.leagueoflegends.com/cdn/5.18.1/img/champion/Aatrox.png">
              <a href="/champions/aatrox" class="name">Aatrox</a>
              <a href="#" class="more-info">
                more info
                <i class="fa fa-angle-down"></i>
              </a>
              <div class="win-loss">
                <span class="win">7</span> -
                <span class="loss">4</span>
              </div>

              <div class="extra-data">
                <table class="table">
                  <tr><th>total wins</th><td>101</td></tr>
                  <tr><th>total loses</th><td>87</td></tr>
                  <tr><th>total minion kills</th><td>102020</td></tr>
                  <tr><th>total double kills</th><td>5</td></tr>
                  <tr><th>total first blood</th><td>5</td></tr>
                  <tr><th>total damage dealt</th><td>700020</td></tr>
                  <tr><th>total damage taken</th><td>50000</td></tr>
                  <tr><th>total champ kills</th><td>2020</td></tr>
                  <tr><th>total champ deaths</th><td>500</td></tr>
                  <tr><th>max kills</th><td>15</td></tr>
                  <tr><th>max deaths</th><td>14</td></tr>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>