

{{!-- summoners page before dynamic --}}

<div id="summoners-page">
  <div class="fluid-container">

    {{> summoner_search_area}}

    {{!-- eventually create the callback that will show this while the
    callback function is running --}}
    <div class="spinner-container well">
      <i class="fa fa-circle-o-notch fa-spin spinner" style="font-size: 2em; position: relative; left: 50%; color: #2F3F4F;"></i>
    </div>

    <iframe frameborder="0"
            scrolling="no"
            id="chat_embed"
            src="http://www.twitch.tv/imaqtpie/chat"
            height="378"
            width="620">
    </iframe>

    <iframe height="378" width="620" frameborder="0" scrolling="no" src="http://www.twitch.tv/imaqtpie/embed"></iframe>

    <div class="summoner-list-area">

      <div class="meta well">
        <div class="general clearfix">
          <img src="//ddragon.leagueoflegends.com/cdn/5.18.1/img/profileicon/588.png">
          <h2>Yolomcbrolo</h2>
        </div>

        <div class="ranked-stats row">

          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="league-stats">
              Silver <span>V</span> |
              <span>90LP</span>
            </div>
            <div class="league-name">Viktor's Somethings</div>
          </div>

          <div class="col-md-2 col-sm-12 col-xs-12 special">
            <span><i class="fa fa-fire"></i></span>
            <span><i class="fa fa-star"></i></span>
          </div>

          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="wl"><span>wins</span> 7</div>
            <div class="wl"><span>loses</span> 4</div>
          </div>

        </div>
      </div>

      <div class="ranked-champs">
        <div class="heading row">
          <div class="col-md-6">
            <h2>
              ranked champs
            </h2>
            <input type="text" id="ranked-champ-filter" placeholder="Enter name...">
          </div>
        </div>
        <div class="champ-list row">

          <div class="col-md-10">
            <div class="ranked-champ">
              <img src="//ddragon.leagueoflegends.com/cdn/5.18.1/img/champion/Aatrox.png">
              <a href="/champions/aatrox" class="name">Aatrox</a>
              <a href="#" class="more-info">
                more info
                <i class="fa fa-angle-down"></i>
              </a>
              <div class="win-loss">
                <span class="win">7</span> -
                <span class="loss">4</span>
              </div>

              <div class="extra-data">
                <table class="table">
                  <tr><th>total wins</th><td>101</td></tr>
                  <tr><th>total loses</th><td>87</td></tr>
                  <tr><th>total minion kills</th><td>102020</td></tr>
                  <tr><th>total double kills</th><td>5</td></tr>
                  <tr><th>total first blood</th><td>5</td></tr>
                  <tr><th>total damage dealt</th><td>700020</td></tr>
                  <tr><th>total damage taken</th><td>50000</td></tr>
                  <tr><th>total champ kills</th><td>2020</td></tr>
                  <tr><th>total champ deaths</th><td>500</td></tr>
                  <tr><th>max kills</th><td>15</td></tr>
                  <tr><th>max deaths</th><td>14</td></tr>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


{{!-- worlds before dynamic --}}

<div class="worlds">
  <div class="well">
    <h3>2015 Worlds Standings</h3>

    <div class="groups">

      <div class="group">
        <h4>Group A</h4>
        <div class="row">
          <div class="col-md-3">
            <a href="#" class="team">
              <div class="team-block">
                <div class="logo">
                  <img src="http://am.leagueoflegends.com/image/?f=http://assets.lolesports.com/team/lgd-gaming-72sm459v.png&resize=100:100" alt="">
                </div>
                <div class="acro">PG</div>
                <div class="region">WLD</div>
                <div class="record">
                  <span>0</span> - <span>0</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="team">
              <div class="team-block">
                <div class="logo">
                  <img src="http://am.leagueoflegends.com/image/?f=http://assets.lolesports.com/team/lgd-gaming-72sm459v.png&resize=100:100" alt="">
                </div>
                <div class="acro">PG</div>
                <div class="region">WLD</div>
                <div class="record">
                  <span>0</span> - <span>0</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="team">
              <div class="team-block">
                <div class="logo">
                  <img src="http://am.leagueoflegends.com/image/?f=http://assets.lolesports.com/team/lgd-gaming-72sm459v.png&resize=100:100" alt="">
                </div>
                <div class="acro">PG</div>
                <div class="region">WLD</div>
                <div class="record">
                  <span>0</span> - <span>0</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="team">
              <div class="team-block">
                <div class="logo">
                  <img src="http://am.leagueoflegends.com/image/?f=http://assets.lolesports.com/team/lgd-gaming-72sm459v.png&resize=100:100" alt="">
                </div>
                <div class="acro">PG</div>
                <div class="region">WLD</div>
                <div class="record">
                  <span>0</span> - <span>0</span>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>

      <div class="group">
        <h4>Group B</h4>
        <div class="row">
          <div class="col-md-3">
            <a href="#" class="team">
              <div class="team-block">
                <div class="logo">
                  <img src="http://am.leagueoflegends.com/image/?f=http://assets.lolesports.com/team/lgd-gaming-72sm459v.png&resize=100:100" alt="">
                </div>
                <div class="acro">PG</div>
                <div class="region">WLD</div>
                <div class="record">
                  <span>0</span> - <span>0</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="team">
              <div class="team-block">
                <div class="logo">
                  <img src="http://am.leagueoflegends.com/image/?f=http://assets.lolesports.com/team/lgd-gaming-72sm459v.png&resize=100:100" alt="">
                </div>
                <div class="acro">PG</div>
                <div class="region">WLD</div>
                <div class="record">
                  <span>0</span> - <span>0</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="team">
              <div class="team-block">
                <div class="logo">
                  <img src="http://am.leagueoflegends.com/image/?f=http://assets.lolesports.com/team/lgd-gaming-72sm459v.png&resize=100:100" alt="">
                </div>
                <div class="acro">PG</div>
                <div class="region">WLD</div>
                <div class="record">
                  <span>0</span> - <span>0</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="team">
              <div class="team-block">
                <div class="logo">
                  <img src="http://am.leagueoflegends.com/image/?f=http://assets.lolesports.com/team/lgd-gaming-72sm459v.png&resize=100:100" alt="">
                </div>
                <div class="acro">PG</div>
                <div class="region">WLD</div>
                <div class="record">
                  <span>0</span> - <span>0</span>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


{{!-- streamersTwenty before dynamic --}}

<div class="streamers">
  <div class="well">
    <h3>Popular Streams</h3>

    <div class="stream-header clearfix">
      <div class="htitle">stream</div>
      <div class="hviews">views</div>
    </div>

    <a href="#" class="stream">
      <div class="stream-block clearfix">
        <div class="title">Matts cool stream yoyoyo Lorem ipsum dolor sit amet.</div>
        <div class="views">20210</div>
      </div>
    </a>

    <a href="#" class="stream">
      <div class="stream-block clearfix">
        <div class="title">Matts cool stream yoyoyo</div>
        <div class="views">20210</div>
      </div>
    </a>

    <a href="#" class="stream">
      <div class="stream-block clearfix">
        <div class="title">Matts cool stream yoyoyo</div>
        <div class="views">20210</div>
      </div>
    </a>

    <a href="#" class="stream">
      <div class="stream-block clearfix">
        <div class="title">Matts cool stream yoyoyo</div>
        <div class="views">20210</div>
      </div>
    </a>

    <a href="#" class="stream">
      <div class="stream-block clearfix">
        <div class="title">Matts cool stream yoyoyo</div>
        <div class="views">20210</div>
      </div>
    </a>

    <button class="btn btn-xs btn-success more-streamers">more</button>
  </div>
</div>