<div id="champion-page">
  <div class="fluid-container">
    {{> champ_search_area}}
    <div class="well">
            
      <div class="splash-image" style="background: url({{champ.image.splash}}) rgba(0,0,0,0.2) no-repeat center; ">
        <div class="overlay">
          <h1>{{champ.name}}</h1>
          <h4>{{champ.title}}</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          
          <div class="champ-spells">
            <div class="row">
              <div class="spell">hi</div>
              <div class="spell">hi</div>
              <div class="spell">hi</div>
              <div class="spell">hi</div>
              <div class="spell">hi</div>
            </div>
          </div>

          <div class="champ-stats">
            <div class="progress">
              <div class="progress-bar attack" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar defense" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">20% Complete</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar magic" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">60% Complete (warning)</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar difficulty" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span class="sr-only">80% Complete (danger)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>