
<div id="champions-page">
  <div class="fluid-container">

    {{> champ_search_area}}

    <div class="well">
      <div class="row champs-list-area">
        {{#each champs}}
          <div class="col-md-2 col-sm-3 col-xs-6" data-name={{name}}>
            <div class="champ">
              <a href="/champions/{{slug}}">
                <img src="{{image.thumbnail}}">
                <div class="name">{{name}}</div>
              </a>
            </div>
          </div>
        {{/each}}
      </div>
    </div>

  </div>
</div>
