

<div id="index-page">

  <div class="fluid-container">

    <div class="row">
      <div class="col-md-8">
        <div class="2015worlds">
          <div class="well">
            <h3>2015 Worlds Standings</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="streamers">
          <div class="well">
            <h3>Popular Streams</h3>

            <div class="stream-header clearfix">
              <div class="htitle">stream</div>
              <div class="hviews">views</div>
            </div>

            <a href="#" class="stream">
              <div class="stream-block clearfix">
                <div class="title">Matts cool stream yoyoyo Lorem ipsum dolor sit amet.</div>
                <div class="views">20210</div>
              </div>
            </a>

            <a href="#" class="stream">
              <div class="stream-block clearfix">
                <div class="title">Matts cool stream yoyoyo</div>
                <div class="views">20210</div>
              </div>
            </a>

            <a href="#" class="stream">
              <div class="stream-block clearfix">
                <div class="title">Matts cool stream yoyoyo</div>
                <div class="views">20210</div>
              </div>
            </a>

            <a href="#" class="stream">
              <div class="stream-block clearfix">
                <div class="title">Matts cool stream yoyoyo</div>
                <div class="views">20210</div>
              </div>
            </a>

            <a href="#" class="stream">
              <div class="stream-block clearfix">
                <div class="title">Matts cool stream yoyoyo</div>
                <div class="views">20210</div>
              </div>
            </a>

            <button class="btn btn-xs btn-success more-streamers">more</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>