
<div id="index-page">
  <div class="fluid-container">
    <div class="row">
      <div class="col-md-8">
        {{> worlds}}
      </div>
      <div class="col-md-4">
        {{> streamersTwenty}}
      </div>
    </div>
  </div>
</div>
