
<div id="streamers-page">
  <div class="fluid-container">
    <h1>All Streamers</h1>

    <div class="streamers">
      <div class="streamer">
        <div class="name">Matts super awesome stream</div>
        <div class="views">101020</div>
      </div>
    </div>
  </div>
</div>