
<div id="streamers-page">
  <div class="fluid-container">
    <h1>All Streamers</h1>

    <div class="table-responsive">
      <table class="all-streamers table table-striped">
        {{!-- append each streamer here --}}

        <tr>
          <th>name</th>
          <th><i class = "fa fa-gamepad"></i></th> {{!-- game --}}
          <th><i class = "fa fa-user"></i></th> {{!-- viewers --}}
        </tr>
      </table>
    </div>
  </div>
</div>