
<div id="summoners-page">
  <div class="fluid-container">

    {{> summoner_search_area}}

    <div class="summoner-list-area">
      <div class="well">
        <div class="spinner-container">
          <i class="fa fa-circle-o-notch fa-spin spinner" style="font-size: 2em; position: relative; left: 50%; color: #2F3F4F;"></i>
        </div>
      </div>

      <div class="meta">
        <div class="well">
          <div class="general clearfix">
            <img src="//ddragon.leagueoflegends.com/cdn/5.18.1/img/profileicon/588.png">
            <h2>Yolomcbrolo</h2>
          </div>
          <div class="ranked-stats row">
            <div class="col-md-6">
              <div class="league-stats">
                Silver <span>V</span> |
                <span>90LP</span>
              </div>
              <div class="league-name">Viktor's Somethings</div>
            </div>
            <div class="col-md-2 special">
              <span><i class="fa fa-fire"></i></span>
              <span><i class="fa fa-star"></i></span>
            </div>
            <div class="col-md-4">
              <div style="text-align: right;"><b>wins</b> 7</div>
              <div style="text-align: right;"><b>loses</b> 4</div>
            </div>
          </div>
        </div>
      </div>

      <div class="ranked-champs">
        <div class="well">

        </div>
      </div>

    </div>
  </div>
</div>