
<div id="summoners-page">
  <div class="container">

    {{> summoner_search_area}}

    <div class="well">
      <div class="summoner-list-area">
        <div class="spinner-container">
          <i class="fa fa-circle-o-notch fa-spin spinner" style="font-size: 2em; position: relative; left: 50%; color: #2F3F4F;"></i>
        </div>
      </div>
    </div>
  </div>
</div>