
<div id="summoners-page">
  <div class="container">

    {{> summoner_search_area}}

    <div class="well">
      <div class="summoner-list-area">
        hello summoner list area
      </div>
    </div>
  </div>
</div>