
<div id="summoners-page">
  <div class="fluid-container">

    {{> summoner_search_area}}

    <div class="spinner-container">
      <i class="fa fa-circle-o-notch fa-spin spinner" style="font-size: 2em; position: relative; left: 50%; color: #777;"></i>
    </div>

    <div class="summoner-list-area">
      {{!-- js template get appended here --}}
    </div>
  </div>
</div>