/*#2C3E50,  #00C49F*/
html { position: relative; min-height: 100%; }
body {
  /*margin: 6em 0;*/
  font-size: 16px;
  letter-spacing: 1.2px;
  color: #333;
  /*background: -webkit-linear-gradient(#00C49F, #2C3E50); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(#00C49F, #2C3E50); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(#00C49F, #2C3E50); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(#00C49F, #2C3E50); /* Standard syntax */
  background-color: #fefefe;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
} /* 1em === 16px */
h1,h2,h3,h4,h5,h6 { font-size: 1em; margin: 0; padding: 0; }
img { width: 100%; }
.inline { display: inline-block; }
.well { background-color: #dedede; border-bottom: 1px solid #ddd; outline: none; }
.fa { font-weight: 700; font-size: 1.1em; }
.btn { text-transform: uppercase; }

.btn > i { margin-left: 0.5em; position: relative; bottom: 0.1em; }
a.btn.btn-xs { color: #fff; padding: 0.25em 0.5em; min-width: 5.2em; }
a.btn.btn-xs.add-counter { color: #000; }

.navbar {}
.navbar-brand { padding: 15px 0; font-size: 1.4em; margin-left: 0.4em; }/
.navbar-nav li { margin-right: 1em; }

.container { width: 56em; margin: 0 auto; }
.fluid-container { max-width: 56em; margin: 0 auto; }

.Mage { background-color:     blue; }
.Assassin { background-color: orange; }
.Tank { background-color:     green; }
.Support { background-color:  pink; }
.Marksman { background-color: red; }
.Fighter { background-color:  yellow; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.75em;
  color: #333;
  background-color: #2C3E50;
  color: #fff;
  border-top: 2px solid #444;
}

#footer .fluid-container > div {
  float: right;
  margin-top: 1em;
}

/*Champion Search Area*/

.champ-search-area,
.summoner-search-area {}
.champ-search-area .title,
.summoner-search-area .title {
  font-size: 1.6em;
  font-weight: 400;
}
.champ-search-area p,
.summoner-search-area p {
  font-size: 0.8em;
  /*font-weight: 300;*/
}

#champ-filter,
#summoner-filter {
  width: 29em;
  /*border: 1px solid #CBCBCB;*/
  font-size: 15px;
  font-weight: 300;
  border-radius: 2px;
  padding: 10px 0;
  text-indent: 10px;
  outline: none;
}

.search {
  position: relative;
}

.glass {
  position: relative;
  width: 22px;
  height: 22px;
  left: 25.5em;
  bottom: 2em;
}

/*Champions Page*/

.champs-list-area {
  padding: 0 0.2em;
}

#champions-page,
#summoners-page {
  margin-bottom: 5em;
}

#champions-page .champ {
  margin-bottom: 0.6em;
}

#champions-page .champ img {
  border-radius: 0.33333em;
}

#champions-page .champ a:hover {
  text-decoration: none;
}

#champions-page .champ .name {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  text-align: center;
  position: relative;
  top: -1.3em;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 400;
}

/*Champion Page*/

#champion-page {
  margin: 1em 0 6em 0;
}

.champ-meta {
  padding: 0 4em 2em 1em;
}

.champ-thumb {
  width: 8em;
  height: 8em;
  float: left;
  margin-top: 0.6em;
  margin-right: 2em;
}

.champ-name {
  opacity: 1.0;
  font-size: 4em;
  font-weight: 600;
  color: #000;
  margin-top: 0.1em;
}

.champ-title {
  opacity: 1.0;
  font-size: 1.6em;
  color: #666;
  font-weight: 400;
  margin-bottom: 0.2em;
}

/* Champ Spells */
.champ-spells {
  margin: 1em 1em;
}

.spell {
  position: relative;
  width: 20%;
  float: left;
  padding: 0.25em;
  z-index: 3;
}

.spell img {
  border-radius: 3px;
}

.spell-name {
  position: relative;
  top: -75px;
  font-size: 0.5em;
  max-width: 20%;
  margin: 0;
  line-height: 0.2;
  z-index: -1;
}

/* Progress Bars */

.champ-stats {
  position: relative;
  top: -50px;
  margin-bottom: 1.5em;
}

.progress {
  margin-bottom: 0.5em;
  height: 2em;
}

.attack {
  background-color: red;
}
.defense {
  background-color: green;
}
.magic {
  background-color: blue;
}
.difficulty {
  background-color: purple;
}

/* Champ Tips */

.tips {}

.ally-tips,
.enemy-tips {
  text-transform: none;
  font-size: 0.83em;
}

.ally-tips h5 {
  background-color: #C6FAC1;
  padding: 1em 1.5em;
  border-radius: 0.33333em;
  color: #666;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
}
.enemy-tips h5 {
  background-color: #FAD1B6;
  padding: 1em 1.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #666;
  cursor: pointer;
}

.ally-tips {
  margin-top: 1.25em;
  border: 1px solid #C6FAC1;
  border-radius: 0.4em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.enemy-tips {
  border: 1px solid #FAD1B6;
  border-radius: 0.4em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ally-tips ul,
.enemy-tips ul {
  display: none;
}

.ally-tips ul,
.enemy-tips ul {
  padding-left: 0;
}

.ally-tips ul li,
.enemy-tips ul li {
  list-style: none;
  padding: 0.75em 1.5em;
  border-bottom: 1px solid #ddd;
}

.ally-tips ul li:last-child,
.enemy-tips ul li:last-child {
  border-bottom: none;
}

/*counters*/

.counters h2 {
  font-size: 1.8em;
  color: #000;
  margin-bottom: 0.3em;
  font-weight: 600;
  margin-top: 0.3em;
}

.counters a { color: #666; text-decoration: none }

.good-against .champ,
.bad-against .champ {
  padding: .75em;
  font-size: 1em;
  margin: 0.4em 0;
  border-radius: 0.33333em;
  background-color: #fafafa;
  border: 2px solid #ccc;
}

.champ .position {
  font-size: 0.6em;
}

.votes {
  position: relative;
  bottom: 0.2em;
  float: right;
}

.votes .upvote,
.votes .downvote {}

.votes .upvote { color: #65E117; }
.votes .downvote { color: #FF4F49; }

.votes i {}

.more-champs,
.less-champs {
  text-align: center;
}

.add-counter {
  color: #000;
}

/*Battle Data*/

.battle-data {
  display: none;
}

.battle-data-button {
  margin-bottom: 0.75em;
  float: right;
  position: relative;
  left: 4em;
  top: 1em;
}

.battle-data-button a.btn {
  color: #333;
}

.more-info {}
.less-info {
  display: none;
}


/*
===== Find Summoners
 */

.spinner {
  font-size: 2em;
  position: relative;
  left: 50%;
  color: #2F3F4F;
  display: none;
}

.no-summoner-found span {
  color: red;
  text-decoration: underline;
}

/* summoner meta */

.meta {}

.meta .general {
  padding: 0.75em;
}

.meta .general img {
  max-width: 100px;
  float: left;
  border-radius: 4px;
}

.meta .general h2 {
  float: left;
  font-size: 2.2em;
  padding-top: 60px;
  padding-left: 25px;
}

#summoners-page .divider {
  border-bottom: 1px solid #ddd;
  margin: 0.5em 0.75em;
}

.meta .ranked-stats {
  clear: both;
  padding: 0.75em;
  margin-bottom: -1em;
}

.meta .ranked-stats div,
.meta .ranked-stats span {
  font-size: 0.9em;
}

.meta .special {
  margin-top: 0.75em;
  position: relative;
  left: 15em;
}

.meta .special span {
  margin-left: 1.5em;
}

.meta .ranked-champs {
  padding: 0.75em;
}

.meta .wl {
  text-align: right;
}

.ranked-champs .heading,
.ranked-champs .champ-list {
  padding: 0.5em 0.75em;
}

.ranked-champs h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.ranked-champs input {}

/*single ranked champ*/

.ranked-champ {
  margin: 0.4em 0;
  background-color: #fafafa;
}
.ranked-champ img {
  height: 40px;
  width: 40px;
}

.ranked-champ .name {
  padding-left: 1em;
  color: #444;
}

.ranked-champ .name:hover {
  text-decoration: none;
  color: #00C49F;
}


.ranked-champ .win-loss {
  float: right;
  margin-top: 8px;
  margin-right: 16px;
  border-right: 1px solid #ddd;
  padding-right: 16px;
  font-weight: 400;
}

.ranked-champ .more-info {
  float: right;
  color: #444;
  font-size: 0.8em;
  margin-top: 12px;
  margin-right: 16px;
  font-weight: 300;
}
.ranked-champ .more-info:hover {
  text-decoration: none;
}

.ranked-champ .extra-data {
  padding: 0.5em 0.75em;
}


/*Media Queries*/

/*small*/
@media (max-width: 32.5em) {
  body { font-size: 14px; }
  #champ-filter,
  #summoner-filter {
    max-width: 18em;
  }
  .glass {
    left: 15em;
    bottom: 2em;
  }
}

/*large*/
@media (max-width: 56.25em) {
  .well,
  .counters .champ {
    padding: 1em;
  }
  .navbar-brand {
    margin-left: 0.8em;
  }
  .fluid-container { max-width: 56em; margin: 0 1em; }
  .good-against .champ,
  .bad-against .champ {
    padding: 0.8em 0.5em;
    margin: 0.2em 1em;
  }
  .good-against h2,
  .bad-against h2 {
    text-align: center;
  }
  .good-against,
  .bad-against {
    margin-top: 2em;
  }

  .counters a { font-size: 0.8em; }
}