/*
===== Index
 */

/* Top 20 Streamers */

.streamers .well {
  min-height: 300px;
}
.streamers h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 1em;
  padding: 0 6px;
}

.stream-header {
  font-size: 10px;
  padding: 0 6px;
  margin-bottom: 6px;
  color: #888;
}

.stream-header .htitle {
  float: left;
}
.stream-header .hviews {
  float: right;
}

.stream {
  overflow: auto;
  border-radius: 4px;
  font-size: 12px;
}

.stream:hover {
  text-decoration: none;
}

.stream-block {
  height: 100%;
  width: 100%;
  color: #444;
  text-transform: none;
  padding: 6px;
  background-color: #efefef;
  margin: 6px 0;
  border-radius: 4px;
}
.stream-block:hover {
  background-color: #ccc;
}

.stream-block .title {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.stream-block .views {
  text-decoration: none;
  color: #999;
  font-size: 0.9em;
  float: right;
  margin-top: 2px;
}

.stream-block:hover .views {
  text-decoration: none;
}

.more-streamers {
  margin-top: 1em;
}


/* Worlds Tournament */

.worlds { margin-bottom: 8em; }
.worlds .well {
  padding-left: 1.875em;
  padding-right: 1.875em;
}

.groups,
.knockouts {
  clear: both;
}

.stage {
  display: none;
}

.groups .group {
  margin-bottom: 30px;
}

.groups .group h4 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 20px;
}

.team:hover { text-decoration: none; }
.team:visited { text-decoration: none; }
.team:active { text-decoration: none; }

.groups .team-block {
  padding: 0.3em 1em;
  border: 1px solid #eee;
  background-color: #efefef;
  border-radius: 4px;
  color: #444;
  text-decoration: none;
}
.groups .team-block:hover { background-color: #ccc; }

.groups .team-block .acro {
  font-size: 1.4em;
  font-weight: 300;
  float: left;
}
.groups .team-block .region {
  font-size: 0.8em;
  margin-top: 5px;
  float: right;
  color: #999;
}
.groups .team-block .record {
  font-size: 1.5em;
  padding-top: 8px;
  padding-bottom: 8px;
  clear: both;
  text-align: center;
}

.tabs {
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #eee;
}

.tabs > a {
  text-decoration: none;
  color: #aaa;
  font-size: 0.8em;
}

.tabs > a.disabled {
}

.tabs .group-stg {
  float: left;
}
.tabs .knockout-stg {
  float: right;
}

.tabs .group-stg,
.tabs .knockout-stg {
  display: inline-block;
}

.tabs .group-stg.active,
.tabs .knockout-stg.active {
  color: #000;
  font-weight: 600;
}


.final {
  padding: 40px 0;
  border-bottom: 2px solid #eee;
}

.final:first-child {
  padding-top: 10px;
}

.final:last-child {
  border-bottom: none;
}

.final h3 {
  margin-bottom: 20px;
  text-align: center;
}

.knockouts {}

.quarter-finals {}

.final .match {
  padding: 10px;
  background-color: #efefef;
}

.final .team {
  padding: 10px 5px;
  border: 1px solid #eee;
  background-color: #999;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

.final .team .won {
  background-color: red;
}

.final .team .icon {
  min-width: 100px;
}

.final .team .name {
  font-size: 14px;
  text-align: center;
}

.final .versus {
  color: #555;
  font-size: 1.4em;
  font-weight: 400;
  text-align: center;
  margin: 10px 0;
}

.match .winner {
  text-align: center;
  font-size: 0.9em;
  margin-top: 30px;
  background-color: #999;
  color: #ddd;
  padding: 5px;
  border-radius: 6px;
}


.grand-finals .col-lg-3 {
  position: relative;
  right: 30px;
}