/*
===== Champion Search Area
 */

.champ-search-area .title,
.summoner-search-area .title {
  font-size: 1.6em;
  font-weight: 400;
}
.champ-search-area p,
.summoner-search-area p {
  font-size: 0.8em;
}

#champ-filter,
#summoner-filter {
  width: 29em;
  font-size: 15px;
  font-weight: 300;
  border-radius: 2px;
  padding: 10px 0;
  text-indent: 10px;
  outline: none;
}

.search { position: relative; }

.glass {
  position: relative;
  width: 22px;
  height: 22px;
  left: 25.5em;
  bottom: 2em;
}